@use "../../../../variables";
/* Extra small devices (phones, 600px and down) */
.sidebar {
  width: variables.$width-primary;
  font-size: larger;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sidebar {
    width: variables.$width-primary;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: larger;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sidebar {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: larger;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sidebar {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: larger;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sidebar {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: larger;
  }
}
