@use "../../styles/variables";
/* Extra small devices (phones, 600px and down) */
.header,
.main,
.sidebar,
.footer {
  width: variables.$width-primary;
}

.form {
  width: variables.$width-primary;
  margin: 1em;
  padding: 1em;
}

.input[type="text"] {
  width: variables.$width-primary;
  background-color: variables.$background-color-primary;
  outline: none;
  margin: 1em;
  padding: 1em;
}

.input[type="text"]::placeholder {
  font-size: 1.5em;
}

.input[type="text"]:focus::placeholder {
  color: transparent;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  max-width: variables.$width-primary;
  height: variables.$width-primary;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
