@use "../../../../variables";
/* Extra small devices (phones, 600px and down) */
.title {
  width: variables.$width-primary;
  font-size: larger;
  display: flex;
  align-items: center;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title {
    width: 40%;
  }
}
