@use "../../../../variables";

/* Extra small devices (phones, 600px and down) */
.header {
  width: variables.$width-primary;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #000000;
  color: variables.$background-color-primary;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
