@use "../../../variables";

/* Extra small devices (phones, 600px and down) */

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2%;
  background-color: variables.$background-color-primary;
  cursor: pointer;
}

.condition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: xx-large;
}

.icon {
  display: flex;
  align-items: center;
}

.primary,
.extra {
  width: variables.$width-primary;
  padding: 2%;
}

.primaryBody,
.extraBody {
  width: variables.$width-primary;
}

.primaryRow,
.extraRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  column-gap: normal;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}

.extraRow {
  border-bottom: solid 1px;
}

.primaryRow > td,
.extraRow > td {
  justify-self: center;
}

.toggleButton {
  background-color: variables.$background-color-primary;
  border: none;
  outline: none;
}

.humidity,
.rain,
.arrow {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .humidity {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .rain {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .arrow {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
